.white-card{padding:20px 20px 0 20px;margin-bottom: 50px;}
.slide img{border-radius: 15px;margin-bottom: 15px;}
h2{font-size: 18px;font-weight: 700;color:#FF4E69;margin:10px 0 5px 0}
small{font-size: 15px;}
label{font-weight: 600;color: #5891C4;font-size: 14px;margin-top: 8px;display: block;}
.btn-info{position: relative;top: 18px;padding: 12px;width: 80%;margin: 0 auto;display: table;box-shadow: 0 8px 27px rgba(77, 140, 181, 0.22);}