<header>
  <a class="go-back" href="dashboard"><img src="../../../assets/icon/arrow-left-icon.png" alt="icon-left"/></a>
  <h6 class="main-title">VM Architecture</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
      <div class="white-card">
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/Image4.png" alt="slide" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/slide-2.jpg" alt="slide" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/slide-3.jpg" alt="slide" />
              </div>
            </ion-slide>
          </ion-slides>
          <h2>The Theory Of Everything</h2>
          <small>English, Paperback, Stephen Hawking</small>
          <label>Applied Sci. & Other Technologies Books</label>
          <button class="btn-info">Select</button>
      </div>
      <div class="white-card">
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/Image5.png" alt="slide" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/slide-2.jpg" alt="slide" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/slide-3.jpg" alt="slide" />
              </div>
            </ion-slide>
          </ion-slides>
          <h2>112 Meditations for Self Realization</h2>
          <small>English, Paperback, Chaudhri Ranjit</small>
          <label>History and Archaeology Books</label>
          <button class="btn-info">Select</button>
      </div>
      <div class="white-card">
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/Image6.png" alt="slide" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/slide-2.jpg" alt="slide" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="../../../assets/slide-3.jpg" alt="slide" />
              </div>
            </ion-slide>
          </ion-slides>
          <h2>A Thousand Splendid Suns</h2>
          <small>English, Paperback, Hosseini Khaled</small>
          <label>General Fiction Books</label>
          <button class="btn-info">Select</button>
      </div>
  </div>
</ion-content>