<header>
  <a class="go-back" href="edit-profile"><img src="../../../assets/icon/arrow-left-icon.png" alt="icon-left"/></a>
  <h6 class="main-title">Change Password</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
      <div class="white-card">
          <form method="POST">
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/lock-icon.png" alt="lock" style="width: 16px;"/>
                  </div>
                  <div class="col-11">
                      <span>Old Password</span>
                      <input type="password" class="form-control" value="123456" />
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/lock-icon.png" alt="lock" style="width: 16px;"/>
                  </div>
                  <div class="col-11">
                      <span>New Password</span>
                      <input type="password" class="form-control" value="123456" />
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/lock-icon.png" alt="lock" style="width: 16px;"/>
                  </div>
                  <div class="col-11">
                      <span>Confirm Password</span>
                      <input type="password" class="form-control" value="123456" />
                  </div>
              </div>
              <div class="col-12 mt50">
                <div class="col-3">
                  <a class="back" href="edit-profile"><img src="../../../assets/icon/blue-rigght-arrow.png" alt="arrow" />Back</a>
                </div>
                <div class="col-9">
                  <button class="btn-danger">Change Password<img src="../../../assets/icon/arrow-right-icon.png" alt="arrow-right"/></button>
                </div>
              </div>
          </form>
      </div>
  </div>
</ion-content>