<header>
  <div class="menu">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <h6 class="main-title">Settings</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
      <div class="white-card">
        <h5>Notification Settings</h5>
          <form method="POST">
              <div class="col-12">
                  <div class="col-11">
                      <span>Search nearby library and bin</span>
                  </div>
                  <div class="col-1">
                    <label class="toggle-check">
                      <input type="checkbox" checked />
                      <span></span>
                    </label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-11">
                      <span>Expiring membership</span>
                  </div>
                  <div class="col-1">
                    <label class="toggle-check">
                      <input type="checkbox" />
                      <span></span>
                    </label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-11">
                      <span>Alert for reaching return date</span>
                  </div>
                  <div class="col-1">
                    <label class="toggle-check">
                      <input type="checkbox" />
                      <span></span>
                    </label>
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-11">
                      <span>Reaching near to any VM or Bin</span>
                  </div>
                  <div class="col-1">
                    <label class="toggle-check">
                      <input type="checkbox" checked />
                      <span></span>
                    </label>
                  </div>
              </div>
                <div class="col-12">
                  <div class="col-11">
                      <span>Login with face id</span>
                  </div>
                  <div class="col-1">
                    <label class="toggle-check">
                      <input type="checkbox" checked />
                      <span></span>
                    </label>
                  </div>
              </div>
          </form>
      </div>
  </div>
</ion-content>
<ul class="bottom-menu">
  <li><a href="home"><img src="../../../assets/icon/home-icon.png" alt="home" /><span>Home</span></a></li>
  <li><a href="my-profile"><img src="../../../assets/icon/profile-icon.png" alt="profile" /><span>Profile</span></a></li>
  <li class="highlighted"><a href="dashboard"><img src="../../../assets/icon/dashboard-icon.png" alt="dashboard" /></a></li>
  <li><a href="history"><img src="../../../assets/icon/history-icon.png" alt="history" /><span>History</span></a></li>
  <li><a href="setting"><img src="../../../assets/icon/setting-icon.png" alt="settings" /><span>Settings</span></a></li>
</ul>