<ion-content>
  <div class="container">
    <div class="floating-logo">
      <div class="logo">
        <img src="../../../assets/icon/logo.svg" alt="logo"/>
      </div>
      <div class="animate-dots"></div>
    </div>
    <h1>Create</h1>
    <h1><strong>New Account</strong></h1>
    <form method="POST">
      <div class="form-group">
        <img src="../../../assets/icon/user-icon.png" alt="" />
        <input type="text" class="form-control" placeholder="Name" />
      </div>
      <div class="form-group">
        <img src="../../../assets/icon/mobile-icon.png" alt="" />
        <input type="text" class="form-control" placeholder="Phone Number or Email" />
      </div>
      <div class="form-group">
        <img src="../../../assets/icon/lock-icon.png" alt="" />
        <input type="password" class="form-control" placeholder="Password" />
      </div>
      <button class="btn-primary" type="submit"><span>Sign Up</span><img src="../../../assets/icon/arrow-right-icon.png" alt="" /></button>
      <p class="an-account">Already have account? <a href="login">Login</a></p>
      <p class="or"><span>OR</span></p>
      <div class="social-signup">
        <a href="##"><img src="../../../assets/icon/facebook-icon.svg" alt=""/><span>Facecbook</span></a>
        <a href="##"><img src="../../../assets/icon/google-icon.svg" alt=""/><span>Gmail</span></a>
      </div>
    </form>
  </div>    
</ion-content>