<ion-content>
  <div class="container">
    <div class="floating-logo">
      <div class="logo">
        <img src="../../../assets/icon/logo.svg" alt="logo"/>
      </div>
      <div class="animate-dots"></div>
    </div>
    <h1><strong>Forgot Password</strong></h1>
    <form method="POST">
      <div class="form-group">
        <img src="../../../assets/icon/mobile-icon.png" alt="mobile" />
        <input type="text" class="form-control" placeholder="Phone Number" />
      </div>
      <div class="form-group">
        <button class="btn-primary" type="submit">Send OTP</button>
      </div>
      <p><a href="login" class="cancel">Cancel</a></p>
    </form>
  </div>    
</ion-content>