<header>
  <a class="go-back" href="scanner"><img src="../../../assets/icon/arrow-left-icon.png" alt="icon-left"/></a>
  <h6 class="main-title">Change Password</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
      <div class="white-card">
        <div class="success-box">
          <div class="succsss-animate">
            <img src="../../../assets/icon/success-icon.png" alt="success" />
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h4>You have successfully issued our book.</h4>
          <p>Please reach to us in any inconvenience</p>
          <button class="btn-info">Scan Again</button>
        </div>
        <!--<div class="failure-box">
          <div class="failure-animate">
            <img src="../../../assets/icon/">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h4>You have successfully issued our book.</h4>
          <p>Please reach to us in any inconvenience</p>
          <button class="btn-danger">Scan Again</button>
        </div>-->
      </div>
  </div>
</ion-content>