.inner-pages{min-height: initial;margin-top: 10px;}
.white-card{padding:20px 10px;}
h4{color:#0779E4;font-size: 17px;font-weight: 700;text-align: center;}
p{color:#0779E4;font-size: 14px;font-weight: 600;}
.btn-info{width: 80%;margin: 25px auto 10px auto;display: table;padding: 12px;font-weight: 600;font-size: 14px;box-shadow: 0 8px 27px rgba(77, 140, 181, 0.22);}
.succsss-animate{position: relative;height: 200px;}
.succsss-animate img{position: absolute;z-index: 1;animation: firstanim linear 2s;opacity: 1;top: 50%;transform: translateY(-50%);left: 0;right: 0;margin: 0 auto;}
.succsss-animate span{position: absolute;margin: 0 auto;z-index: 0;border-radius: 50%;left: 0;right: 0;opacity: 1;}
.succsss-animate span:nth-child(2){width: 90px;height: 90px;background: rgba(103, 220, 209, 0.08);top: 55px;animation: secondanim linear 4s;}
.succsss-animate span:nth-child(3){width: 140px;height: 140px;background: rgba(103, 220, 209, 0.12);top: 30px;animation: thirdanim linear 5s;}
.succsss-animate span:nth-child(4){width: 200px;height: 200px;background: rgba(103, 220, 209, 0.16);top: 0px;animation: fourthanim linear 6s;}

@keyframes firstanim{0%{translate: rotate(45deg);opacity: 0;}100%{translate: rotate(0deg);opacity: 1;}}
@keyframes secondanim{0%,30%{transform:scale(0.8);opacity: 0;}31%{transform:scale(0.8);opacity: 1;}100%{transform:scale(1);opacity: 1;}}
@keyframes thirdanim{0%,40%{transform:scale(0.6);opacity: 0;}41%{transform:scale(0.6);opacity: 1;}100%{transform:scale(1);opacity: 1;}}
@keyframes fourthanim{0%,50%{transform:scale(0.5);opacity: 0;}51%{transform:scale(0.5);opacity: 1;}100%{transform:scale(1);opacity: 1;}}
