<header>
  <div class="menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h6 class="main-title">Privcy Policy</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
      <div class="white-card">
        <p>Nibh praesent tristique magna sit. Turpis egestas integer eget aliquet nibh praesent. Adipiscing at in tellus integer feugiat. Varius quam quisque id diam vel quam. Viverra justo nec ultrices dui sapien eget mi proin sed. Et ligula ullamcorper malesuada proin libero nunc consequat interdum. Eu lobortis elementum nibh tellus molestie nunc. At tellus at urna condimentum mattis pellentesque.</p>
        <p>Malesuada fames ac turpis egestas integer eget aliquet nibh praesent. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Volutpat consequat mauris nunc congue nisi vitae. Semper viverra nam libero justo. Commodo elit at imperdiet dui accumsan sit amet nulla. Dictum at tempor commodo ullamcorper a lacus vestibulum. Quis lectus nulla at volutpat. Ut morbi tincidunt augue interdum velit euismod in pellentesque.</p>
      </div>
  </div>
</ion-content>