<header>
  <div class="menu">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <h6 class="main-title">Membership Plans</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
    <div class="blue-card">
      <p class="title">My Membership</p>
      <div class="counter">
        <div class="col-6">
          <h1>10</h1>
          <span>Credit Available</span>
        </div>
        <div class="col-6">
          <h1>15</h1>
          <span>Credit Used</span>
        </div>
      </div>
      <p>Valid Upto<strong> 27 Nov, 2022</strong></p>
      <span>Intermediate Membership</span>
    </div>
    <div class="light-red member-card">
      <label class="tag">Basic</label>
      <strong class="title">Membership for 3 Months</strong>
      <p class="desc">
        <span>10 Books</span><strong>$10.00</strong>
      </p>
      <button type="submit">UPGRADE NOW</button>
    </div>
    <div class="light-blue member-card">
      <label class="tag">Intermediate</label>
      <strong class="title">Membership for 6 Months</strong>
      <p class="desc">
        <span>20 Books</span><strong>$20.00</strong>
      </p>
      <button type="submit">UPGRADE NOW</button>
    </div>
    <div class="light-violet member-card">
      <label class="tag">Pro</label>
      <strong class="title">Membership for 12 Months</strong>
      <p class="desc">
        <span>50 Books</span><strong>$50.00</strong>
      </p>
      <button type="submit">UPGRADE NOW</button>
    </div>
  </div>
</ion-content>