<header>
    <div class="menu">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <h6 class="main-title">History</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
    <h4>Book Allotment History</h4>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>Harry Potter</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>Harry Potter</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>The Alchemist</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>Da Vinci</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>Harry Potter</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>Harry Potter</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>The Alchemist</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
  </div>
</ion-content>
<ul class="bottom-menu">
  <li><a href="home"><img src="../../../assets/icon/home-icon.png" alt="home" /><span>Home</span></a></li>
  <li><a href="my-profile"><img src="../../../assets/icon/profile-icon.png" alt="profile" /><span>Profile</span></a></li>
  <li class="highlighted"><a href="dashboard"><img src="../../../assets/icon/dashboard-icon.png" alt="dashboard" /></a></li>
  <li><a href="history"><img src="../../../assets/icon/history-icon.png" alt="history" /><span>History</span></a></li>
  <li><a href="setting"><img src="../../../assets/icon/setting-icon.png" alt="settings" /><span>Settings</span></a></li>
</ul>