.inner-pages{background-color: #EEFAFF;padding-bottom: 50px;}
.slide img{box-shadow: 0 10px 8px rgba(71, 128, 203, 0.16);border-radius: 15px;margin-bottom: 15px;}
.inner-pages h4{position: relative;z-index: 2;color: #fff;margin:0 0 20px 0;font-weight: 300;text-align: center;}
.white-card{box-shadow: 0 6px 20px rgba(91, 160, 206, 0.26);background: #fff;border-radius: 16px;padding:20px 0 20px 15px;margin-bottom:15px;position: relative;}
.white-card small{display: table;width: 100%;font-size: 13px;color: #5891C4;opacity:0.75}
.white-card p{margin:0;font-size: 14px;color: #3583C9;font-weight: 600;}
.bottom-menu:before{content: "";width: 100%;background: linear-gradient(to top, white, transparent);height: 100px;position: absolute;top: -100px;}