<header>
  <a class="go-back" href="my-profile"><img src="../../../assets/icon/arrow-left-icon.png" alt="icon-left"/></a>
  <h6 class="main-title">Edit Profile</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
      <div class="user-info">
          <label class="user-image">
              <input type="file">
              <img src="../../../assets/dummy-user-image.png" alt="user-image"/>
          </label>
          <span>Change Photo</span>
      </div>
      <div class="white-card">
          <form method="POST">
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/user-icon.png" alt="user" style="width: 16px;"/>
                  </div>
                  <div class="col-11">
                      <span>Name</span>
                      <input type="text" class="form-control" value="Kerri Conrad" />
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/mail-icon.png" alt="mail" style="width: 16px;"/>
                  </div>
                  <div class="col-11">
                      <span>Email</span>
                      <input type="text" class="form-control" value="kerri_conrad@gmail.com" />
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/phone-icon.png" alt="phone" style="width: 21px;"/>
                  </div>
                  <div class="col-11">
                      <span>Phone Number</span>
                      <input type="text" class="form-control" value="67589 77890" />
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/calendar-icon.png" alt="calendar" style="width: 16px;"/>
                  </div>
                  <div class="col-11">
                      <span>Date of Birth</span>
                      <input type="text" class="form-control" value="31-12-1985" />
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/hashtag-icon.png" alt="address" style="width: 17px;"/>
                  </div>
                  <div class="col-11">
                      <span>Unit No. / Address</span>
                      <input type="text" class="form-control" value="201D, Tampiness Street 212" />
                  </div>
              </div>
              <div class="col-12">
                  <div class="col-1">
                      <img src="../../../assets/icon/map-icon.png" alt="map" style="width: 17px;"/>
                  </div>
                  <div class="col-11">
                      <span>Postal Code</span>
                      <input type="text" class="form-control" value="2136001" />
                  </div>
              </div>
              <div class="text-center">
                  <a class="btn-info" href="change-password">Change Password</a>
                  <button class="btn-danger">Update<img src="../../../assets/icon/arrow-right-icon.png" alt="arrow-right"/></button>
              </div>
          </form>
      </div>
  </div>
</ion-content>