/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*common*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
html,body,h1,h2,h3,h4,h5,h6,p,a,span,input{font-family: 'Open Sans', sans-serif !important;}
.container-fluid{padding: 0 15px;}
.container{padding: 0 30px;}
.container-fluid,.container{min-height: 100vh;background-size: cover;background-position: top;background-repeat: no-repeat;}
.text-center{text-align: center;}
.form-group{position: relative;}
.form-control{background-color: #fff;border: none;padding: 13px 15px 13px 50px;border-radius: 50px;outline: none;margin-bottom: 20px;width: 100%;font-size: 15px;font-weight: 600;}
.form-control:focus,.form-control:active{background-color: #fff;}
.btn-primary{border: 2px solid #fff;background: transparent;color: #fff;border-radius: 50px;width: 100%;padding: 11px;font-size: 17px;font-weight: 700;outline: none;display: block;text-decoration: none;}
.btn-primary span{vertical-align: middle;}
.btn-primary img{margin-left: 10px;vertical-align: middle;}
.col-1{display: inline-block;width: 10%;vertical-align: middle;}
.col-2{display: inline-block;width: 20%;vertical-align: middle;}
.col-3{display: inline-block;width: 25%;vertical-align: middle;}
.col-4{display: inline-block;width: 33.3333%;padding: 0 5px;vertical-align: top;}
.col-6{display: inline-block;width: 50%;padding: 0 5px;}
.col-8{display: inline-block;width: 66.6666%;padding: 0 5px;vertical-align: top;}
.col-9{display: inline-block;width: 75%;vertical-align: middle;}
.col-10{display: inline-block;width: 80%;vertical-align: middle;}
.col-11{display: inline-block;width: 90%;vertical-align: middle;}
.btn-danger{background-color:#FF4E69;border-radius: 50px;color: #fff}
.btn-info{background: #67DCD1;color: #fff;border-radius: 50px;}
/*common*/

/*inner pages*/
.inner-pages:before{content: '';background-image: url(assets/icon/patch.png);position: absolute;;width: 100%;height: 325px;background-size: cover;background-position: top;background-repeat: no-repeat;padding: 0 10px;left: 0;top: -45px;}
.inner-pages{margin-top:20px;padding-bottom: 80px;}
header{background-image: url(assets/icon/patch.png);padding:0 5px;background-repeat: no-repeat;background-size: cover;background-position: top;}
.notifiaction{width: 18px;display: inline-block;float: right;margin: 12px 10px 0 0;}
.main-title{color: #fff;font-weight: 700;font-size: 18px;position: absolute;top: 13px;left: 0;right: 0;margin: 0 auto;text-align: center;max-width: 210px;}

/*slider changes*/
.swiper-container{padding-bottom: 20px;}
.swiper-pagination .swiper-pagination-bullet{width: 5px;height: 5px;background:#9BBCDC;vertical-align: middle;}
.swiper-pagination .swiper-pagination-bullet-active{background:#0779E4;width: 9px;height:9px;}
.swiper-pagination{bottom: 0px !important;}
.slide{width: 100%;height:200px;border-radius: 15px;overflow: hidden;}
.slide img{width: 100%;height: auto;object-fit: cover;height: 200px;}

/*bottom menu*/
.bottom-menu{padding: 0;margin: 0;box-shadow:0 -7px 22px rgba(77, 140, 181, 0.16);position: fixed;bottom: 0;z-index: 99;left: 0;background: #fff;width: 100%;}
.bottom-menu li{display: inline-block;width: 20%;float: left;}
.bottom-menu li a{display: table;padding:21px 10px;text-decoration: none;text-align: center;width: 100%;}
.bottom-menu li img{height: 18px;display: table;margin: 0 auto;}
.bottom-menu li span{font-size: 10px;color:#465C87;font-weight: 600;}
.bottom-menu .highlighted a{padding:11px 5px 8px 5px;}
.bottom-menu .highlighted img{height: initial;}

/*cards*/
.blue-card{background: #0779E4;position: relative;border-radius: 16px;box-shadow: 0 7px 26px rgba(35, 151, 228, 0.16);color: #fff;padding:15px;max-width: 500px;margin: 0 auto;position: relative;}
.blue-card .title{margin:0 0 15px 0;text-align: center;font-weight: 600;font-size: 20px;}
.blue-card h1{font-weight: 600;font-size: 36px;margin:0;}
.blue-card span{font-weight: 600;font-size: 15px;margin: 5px 0 15px 0;display: block;}
.blue-card .counter{border-bottom:1px solid rgba(255, 255, 255, 0.23);text-align:center}
.blue-card .counter>div:nth-child(1){border-right:1px solid rgba(255, 255, 255, 0.23)}
.blue-card p{font-size: 14px;font-weight: 600;}
.white-card{box-shadow: 0 6px 20px rgba(91, 160, 206, 0.26);background: #fff;border-radius: 16px;padding:20px 0 20px 15px;max-width: 500px;margin: 0 auto 25px auto;position: relative;}
.white-card small{display: table;width: 100%;font-size: 13px;color: #5891C4;opacity:0.75}
.white-card p{margin:0;font-size: 14px;color: #3583C9;font-weight: 600;}
.white-card .form-control{border-bottom:1px solid rgba(88, 145, 196, 0.32);padding: 5px 0 5px 0;border-radius: 0px;margin: 0 0 15px 0;;color: #465C87;font-size: 14px;}
.white-card span{color: rgba(88, 145, 196, 0.77);font-size: 14px;}

/*sidemenu*/
.menu{position: relative;display: inline-block;padding:11px 10px 7px 10px;}
.menu span{width:22px;height: 2px;background-color: #fff;border-radius: 10px;margin:4px 0;display: table;transition: 0.2s;}
.menu span:nth-child(3){width: 18px;}
.menu.active span:nth-child(1){transition: 0.2s;transform:rotate(-45deg);width: 11px;top: 2px;position: relative;}
.menu.active span:nth-child(2){transition: 0.2s;}
.menu.active span:nth-child(3){transition: 0.2s;transform:rotate(45deg);width:11px;top: -2px;position: relative;}
ion-menu-button{background-color: red;width: 15px;height: 15px;display: table;}
.sidemenu{position: fixed;background: #052439;height: 100vh;width: 100%;display: none;padding-bottom: 20px;overflow-y: scroll;;}
.sidemenu .menu-profile{display: table;margin: 30px 15px 0 15px;border-bottom: 1px solid rgba(88, 145, 196, 0.21);padding-bottom: 30px;}
.sidemenu .bg-side-profile{width: 70px;height: 70px;border-radius: 50%;background-color: rgba(255,255,255,0.16);padding:8px;text-align: center;display: inline-block;vertical-align: middle;}
.sidemenu .bg-side-profile img{border-radius: 50%;;width: 53px;height: 53px;object-fit: cover;}
.sidemenu .user-details{display: inline-block;vertical-align: middle;margin-left: 10px;}
.sidemenu .user-details h1{font-weight: 300;font-size: 23px;color: #fff;margin:0}
.sidemenu .user-details strong{font-size: 17px;font-weight: 600;display: table;color: #fff;margin: 5px 0 0 0;}
.sidemenu .user-details span{font-size: 14px;color: #fff;}
.sidemenu ul{margin: 0;padding: 0;list-style: none;}
.sidemenu ul li a{text-decoration: none;color: #fff;padding: 10px 20px;font-size: 19px;display: table;width: 100%;}
.sidemenu ul li a.active{color: #67DCD1;}
.sidemenu ul li a img{width: 22px;vertical-align: middle;margin-right: 13px;}
.sidemenu ul li a.terms-icon img,.sidemenu ul li a.faq-icon img{width: 18px;}
.sidemenu ul li a.history-icon img{width: 20px;}
.sidemenu ul li a.profile-icon img{width: 19px;}
.sidemenu ul li a.active .non-active,.sidemenu ul li a .active{display: none}
.sidemenu ul li a .non-active,.sidemenu ul li a.active .active{display: inline-block}
.go-back{padding:12px;display: inline-block}
ion-router-outlet.menu-active{border-radius: 30px;position: fixed !important;right: -260px !important;left: 260px !important;transform: scale(0.9);}
.bottom-menu.menu-active{right: -260px;left: 260px;border-bottom-left-radius: 30px;transform: scale(0.9);bottom:20px}

@media (min-height:570px){.inner-pages:before{height: 375px;}}