<header>
  <div class="menu">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
    <h1>Hi <strong>Kerri Conard,</strong></h1>
    <p>How do you feel today?</p>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide">
          <img src="../../../assets/slide-1.jpg" alt="slide" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="../../../assets/slide-2.jpg" alt="slide" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="../../../assets/slide-3.jpg" alt="slide" />
        </div>
      </ion-slide>
    </ion-slides>
    <h4>Your nearby <strong>VM and Bin</strong></h4>
    <div id="map"></div>
    <div class="col-6">
      <div class="blue-card">
        <h1>10</h1>
        <h5>Credit Left</h5>
      </div>
    </div>
    <div class="col-6">
      <div class="blue-card">
        <h1>10</h1>
        <h5>Credit Left</h5>
      </div>
    </div>
  </div>
</ion-content>
<ul class="bottom-menu">
  <li><a href="home"><img src="../../../assets/icon/home-icon.png" alt="home" /><span>Home</span></a></li>
  <li><a href="my-profile"><img src="../../../assets/icon/profile-icon.png" alt="profile" /><span>Profile</span></a></li>
  <li class="highlighted"><a href="dashboard"><img src="../../../assets/icon/dashboard-icon.png" alt="dashboard" /></a></li>
  <li><a href="history"><img src="../../../assets/icon/history-icon.png" alt="history" /><span>History</span></a></li>
  <li><a href="setting"><img src="../../../assets/icon/setting-icon.png" alt="settings" /><span>Settings</span></a></li>
</ul>