.inner-pages{background-color: #EEFAFF;}
.slide img{box-shadow: 0 10px 8px rgba(71, 128, 203, 0.16);border-radius: 15px;margin-bottom: 15px;}
.inner-pages h1{position: relative;z-index: 2;color: #fff;margin:0;font-weight: 300;}
.inner-pages p{position: relative;z-index: 2;color: #fff;font-size: 24px;margin: 0 0 15px 0;font-weight: 300;}
.blue-card{background-color: #2EC6D1;box-shadow: 0 8px 19px rgba(16, 101, 133, 0.16);border-radius: 15px;width: 100%;text-align: center;padding: 10px;}
.blue-card h1{margin: 0;font-size: 33px;font-weight: 600;}
.blue-card h5{font-size: 18px !important;color: #fff;margin: 0;}
h4{color: #3583C9;font-weight: 300;}
