.white-card{padding:20px}
.white-card h5{font-size: 17px;color:#3583C9;font-weight: 700;margin:5px 0 10px 0;text-align: center;}
.white-card h1{font-size: 27px;font-weight: 700;color: #67DCD1;margin: 20px auto;text-align: center;border-top: 1px solid rgba(88, 145, 196, 0.14);border-bottom: 1px solid rgba(88, 145, 196, 0.14);padding: 5px 10px;display: table;}
.btn-white{box-shadow: 0 8px 27px rgba(77, 140, 181, 0.22);border-radius: 50px;background: #fff;padding: 10px 25px;font-weight: 600;color: #5891C4;font-size: 14px;display: table;margin: 0 auto;}
.btn-share{background: #67DCD1;color: #fff;font-weight: 600;font-size: 14px;box-shadow: 0 8px 27px rgba(77, 140, 181, 0.22);border-radius: 50px;padding: 10px;width: 70%;margin: 30px auto;display: table;vertical-align: middle;}
.btn-share img{vertical-align: middle;max-width: 16px;margin-left: 5px;}
.member-card{position: relative;border-radius: 16px;margin-bottom: 20px;padding:15px 20px}
.member-card h1{font-size:33px;font-weight: 600;margin:0;text-align: center;}
.member-card span{font-size: 16px;}
.light-red{background: #FFE9E1;}
.light-blue{background: #F4F0F8;}
.light-red h1,.light-red span{color:#F56B3F;}
.light-blue h1,.light-blue span{color:#895ED1;}
p{font-size: 14px;color:#465C87;padding: 0 5px;}