<header>
  <div class="menu">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <h6 class="main-title">Refer a Friend</h6>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
      <div class="white-card">
        <h5>Refer a Friend</h5>
        <h1 class="refer-code">AEo9-2EW8h</h1>
        <button class="btn-white">Copy</button>
        <button class="btn-share">Share <img src="../../../assets/icon/share-icon.png" alt="share"/></button>
      </div>
      <div class="col-6">
        <div class="light-red member-card">
          <h1>10</h1>
          <span>Total Invitation</span>
        </div>
      </div>
      <div class="col-6">
        <div class="light-blue member-card">
          <h1>05</h1>
          <span>Account Verified</span>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur acing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</ion-content>