.inner-pages{margin: 0;}
.user-info h4{position: relative;text-align: center;display: block;color: #fff;font-weight: 300;margin: 0;font-size: 22px;}
.user-info h4 img{position: relative;top: -5px;left: 5px;}
.user-info strong,.user-info small{position: relative;text-align: center;display: block;color: #fff;}
.user-info strong{margin: 8px 0;font-size: 17px;}
.user-info small{font-size: 14px;margin-bottom: 20px;}
.user-image{position: relative;width: 100px;height: 100px;background: rgba(255, 255, 255, 0.10);border-radius: 50%;text-align: center;padding: 9px 0;margin: 0 auto;}
.user-image img{border-radius: 50%;height: 80px;width: 80px;object-fit: cover;box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16);}
.btn-danger{font-weight: 700;font-size: 11px;padding: 7px 13px;}
.buy-premium span{margin:0 5px 5px 0;display: inline-block}
h5{color: #0779E4;text-align: center;font-weight: 700;}