<header>
  <div class="menu">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <img src="../../../assets/icon/notification-icon.png" alt="notification" class="notifiaction" />
</header>
<ion-content>
  <div class="container-fluid inner-pages">
    <div class="user-info">
      <div class="user-image">
        <img src="../../../assets/user.jpg" alt="user-image"/>
      </div>
      <h4>Kerri Conrad<a href="edit-profile"><img src="../../../assets/icon/edit-icon.png" alt="edit" /></a></h4>
      <strong>67589 77890</strong>
      <small>kerri_conrad@gmail.com</small>
    </div>
    <div class="blue-card">
      <p class="title">My Membership</p>
      <div class="counter">
        <div class="col-6">
          <h1>10</h1>
          <span>Credit Available</span>
        </div>
        <div class="col-6">
          <h1>15</h1>
          <span>Credit Used</span>
        </div>
      </div>
      <p>Valid Upto<strong> 27 Nov, 2022</strong></p>
      <div class="buy-premium"><span>Intermediate Membership</span><button class="btn-danger">UPGRADE NOW</button></div>
    </div>
    <h5>Book Issued</h5>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>The Alchemist</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
    <div class="white-card">
      <div class="col-4">
        <small>Book Name</small>
      </div>
      <div class="col-4">
        <small>Issued on</small>
      </div>
      <div class="col-4">
        <small>Returned on</small>
      </div>
      <div class="col-4">
        <p>The Alchemist</p>
      </div>
      <div class="col-4">
        <p>12/05/2019</p>
      </div>
      <div class="col-4">
        <p>12/08/2020</p>
      </div>
    </div>
  </div>
</ion-content>